# DeepSeek API Key
API_KEY=sk-xxx

# EaseMob 组织 / 应用名
EASEMOB_ORGNAME=xxxx
EASEMOB_APPNAME=xxxx

# EaseMob 客户端 ID / 密钥
EASEMOB_CLIENT_ID=xxx
EASEMOB_CLIENT_SECRET=xxx

# EaseMob AI账号 用户 / 密码
EASEMOB_AI_SUPPORT_USER=ai
EASEMOB_AI_SUPPORT_PWD=ai

#
SERVER_URL=http://127.0.0.1:8000/ai/msg
